.mainContainer {
    position: absolute;
    left: 50%;
    top : 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size : 50px;
    box-shadow: 5px 5px 10px ;
    background-color: rgb(200,200,200);
    border-radius: 20px;
}

.time {
    padding: 10px 50px ;
    
}

#hourLabel, #minuteLabel, #secondLabel {
    font-size : 30px;
}

body {
    background-color: rgb(33,175,74)
}

#button1 {
    position: absolute;
    left: 40%;
    top : 70%;
    transform: translateX(-50%) translateY(-50%);
    font-size : 20px;
    box-shadow: 1px 2px 0px ;
    background-color: rgb(200,200,200);
    border-radius: 5px;
    padding: 10px 50px ;

}

#button2 {
    position: absolute;
    left: 60%;
    top : 70%;
    transform: translateX(-50%) translateY(-50%);
    font-size : 20px;
    box-shadow: 1px 2px 0px ;
    background-color: rgb(200,200,200);
    border-radius: 5px;
    padding: 10px 50px ;

}

.userInput {
    position: absolute;
    left: 33%;
    top : 30%;
}

.getInput {
    border-radius: 5px;
    padding: 10px 10px ;
    width: 180px;
}




